{% extends "base.html.twig" %}
{% block main %}
	{% if app.user %}
		<section class="d-flex flex-lg-row flex-column justify-content-lg-between">
			{{ form_start(formMatierepublic) }}
			<div class="p-5">
				<h2 class="text-center">
					{% if EditMode %}
						Modifier une Matière Public
					{% else %}
						Ajouter une Matière Public
					{% endif %}
				</h2>
				{% for type, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ type }}">{{ message }}</div>
					{% endfor %}
				{% endfor %}
				<label for="exampleFormControlInput1" class="form-label">Nom de la Matière Public:</label>
				{{ form_row(formMatierepublic.name)}}
				<div class="d-flex justify-content-around mt-4">
					<button type="submit" class="btn btn-primary btn-outline-success text-white">
						{% if EditMode %}
							Modifier
						{% else %}
							Enregistrer
						{% endif %}
					</button>
					<a href="/addmatierepublic/" class="btn btn-primary btn-outline-danger text-white">Annuler</a>
				</div>
				{{ form_end(formMatierepublic) }}
			</div>
			<div class="p-5 w-75">
				<table id="datatable" class="table table-bordered border border-3  w-100">
					<thead>
						<tr>
							<th class="bg-danger" scope="col">Matière Public</th>
							<th class="bg-danger" scope="col">Modifier/Supprimé</th>
						</tr>
					</thead>
					<tbody class="table-dark">
						{% for matierepublic in matierepublics %}
							<tr>
								<td>{{ matierepublic.name }}</td>
								<td>
									<a class="text-decoration-none text-hover-success" href="/addmatierepublic/{{ matierepublic.id }}">Modifier</a>
									/
									<a class="text-decoration-none text-hover-danger" href="/addmatierepublic/delete/{{ matierepublic.id }}" onclick="return confirm('Supprimer ?')">Supprimer</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
	{% else %}
		<div class="my-6">
			<h1>Vous devez vous connecté</h1>
			<a class="btn btn-primary" href="{{ path('app_logout') }}">Retour sur la page de connexion</a>
		</div>
	{% endif %}
{% endblock %}
