{% extends "base.html.twig" %}
{% block main %}
	{% if app.user %}
		<div class="p-5">
			<table id="datatable" class="table table-bordered border border-3  w-100">
				<thead>
					<tr>
						<th class="bg-danger" scope="col">Matière</th>
						<th class="bg-danger" scope="col">Cours</th>
						<th class="bg-danger" scope="col">Date</th>
					</tr>
				</thead>
				<tbody class="table-dark">
					{% for courpublic in courpublics %}
						{% if courpublic.matierepublic.id == matierepublic.id %}
							{% if courpublic.date < date() %}
								<tr>
									<td>{{ matierepublic.name }}</td>
									<td>
										<h5 class="text-decoration-underline">{{ courpublic.name }}</h5>
										{% for coursfilesp in courpublic.coursfilesps %}
											<a class="text-decoration-none" href="/uploads/cours/{{ coursfilesp.name }}">{{ coursfilesp.name }}</a><br>
											{% if app.request.attributes.get('_route') == 'addcourspublicEdit' %}
												<a class="text-decoration-none text-hover-danger" href={{ path('courspublic_delete_fichier', {id: coursfilesp.id} )}} data-deletep data-token={{ csrf_token('deletep' ~ coursfilesp.id )}}>Supprimer</a>
												<br>
											{% endif %}
										{% endfor %}
									</td>
									<td>{{ courpublic.date|date("d/m/Y") }}</td>
								</tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<div class="my-6">
			<h1>Vous devez vous connecté</h1>
			<a class="btn btn-primary" href="{{ path('app_logout') }}">Retour sur la page de connexion</a>
		</div>
	{% endif %}
{% endblock %}
